body {
    background-color: lightgray;
    margin: 0;
}

header > div {
    background-color: wheat;

}

h1 {
    text-align: center;
}

nav {
    background-color: lightgreen;
    text-align: center;
}

/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp   For mobil-meny */

main {
    background-color: lightseagreen;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > div {
    text-align: center;
}

footer {
    background-color: lightpink;
}

.FB1 {
    color: rgb(14, 90, 90);
    padding-top: 2em;
    float:left; 
    text-align: center;
    background:white;
    width:100%;
    height: 340px;
}

.FB2 {
    color: rgb(14, 90, 90);
    padding-top: 2em;
    float:left; 
    text-align: center;
    background:white;
    width:100%;
    height: 340px;
}