body {
    background-color: lightgray;
    margin: 0;
}

header > div {
    background-color: wheat;

}

h1 {
    text-align: center;
}

nav {
    background-color: lightgreen;
    text-align: center;
}

/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp   For mobil-meny */

main {
    padding-top: 1rem;
    background-color: aqua;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > div {
    text-align: center;
}

footer {
    background-color: lightpink;
}

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: lightsalmon;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav h1 {
      color: white;
  }