
 /* treng body color?*/
body {
    
    margin: 0;
}

header > div {
    background-color: #D9D8D5;
    

}
/* Legge inn egen div/id for oversrkift eller skal jeg bruke h1? */


h1 {
    text-align: center;
    color: #772023;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    
}

/* blir det riktig å plassere denne her? */

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #D9D8D5;
    text-align: center;
    color: #92494d;
    margin: 0;
    margin-top: 5;
}

/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp   For mobil-meny */

main {
    background-color: #f5f5f2;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > div {
    text-align: center;
}

footer {
    background-color: #D9D8D5;
    
}
/* legge inn egen div for tekstfarge i footer og meny?*/
/*Denne fargen #772023*/